@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
}
div {
  background-color: transparent;
}

@layer base {
  :root {
    font-family: "Noto Sans KR", sans-serif;
    --vh: 100%;
    --background: red;
    --text-color: #000;

    span {
      --text-color: #000;
    }
    h2 {
      --text-color: #000;
    }
  }
  .dark {
    --background: #16161a;
    --text-color: #fff;
    span {
      --text-color: #fff;
    }
    h2 {
      --text-color: #fff;
    }
  }
}
